body{
	background-color: #87CEFA;
	font-family: "Bookman";
}
.content{
	display: block;
	background-color: white;
	-moz-border-radius: 8px 8px 8px 8px;
	-webkit-border-radius: 8px 8px 8px 8px;
	padding: 10px 10px 10px 10px;
	box-shadow:2px 2px 5px #000000;
	-moz-box-shadow:2px 2px 5px #000000;
	-webkit-box-shadow:2px 2px 5px #000000;
	
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}
#listaOnt{
	width: 100%;
	table-layout:fixed;
	border-collapse: collapse;
}
#listaOnt tr td,#listaOnt tr th{
	
	display: table-cell;
	height: auto;
	overflow:auto; 
}
#col1{
	width: 35%;
}
#col2{
	width: 35%;
}
#col3{
	width: 10%;
}
#col4{
	width: 10%;
}
#col5{
	width: 10%;
}
#listaDiv{
	position: absolute;
	top:0%;
}

#upload{
	text-align: left;
}
#erro{
	color: red;
	font-size: 20px;
	text-align: right;
}


#cor1{
	background-color: #c9c5c5;
}
#cor0{
	background-color: #e2e0e0;
}
#cor11{
	background-color: #f7b4b4;
}
#cor10{
	background-color: #fcdede;
}
#cor21{
	background-color: #d9fca9;
}
#cor20{
	background-color: #e3f9c5;
}
#cor31{
	background-color: #d9f7f5;
}
#cor30{
	background-color: #edfcfb;
}
#plus{
	height: 32px;
	width: 32px;
}
footer{
	text-align: center;
	background-color: black;
	color: white;
	position: absolute;
	bottom: 0%;
	left: 0%;
	width: 98%;
	padding: 10px 10px 10px 10px ;
}
#aviso{
	color: red;
	font-size: 10px;
}

.Rleft{
	float: left;
}
.Rcenter{
	float:  center;
}
.Rright{
	float:  right;
}
.side{
	position: fixed;
	top:0%;
	height: 100%;
	width: 20%;

	background-color: white;
	-moz-border-radius: 8px 8px 8px 8px;
	-webkit-border-radius: 8px 8px 8px 8px;
	padding: 10px 10px 10px 10px;
	box-shadow:2px 2px 5px #000000;
	-moz-box-shadow:2px 2px 5px #000000;
	-webkit-box-shadow:2px 2px 5px #000000;
}
#indice{
	left: 0%;
}
#info{
	right: 0%;
}
#info div{
	height: 50%;
	width:100%;
}
#modelDiv{
	display: none;
	position: absolute;
	top: 0%;
	left: 0%;
	height: 100%;
	width:100%;
	z-index: 999;
	background: rgba(0, 0, 0, 0.3);
}
#modelDiv img{
	align-content: center;
	height: 95%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
	width:auto;
	
}
.icon{
	height:32px !important;
	width:32px !important;
	cursor: pointer;
}
#close{
	position: absolute;
	top: 0%;
	right: 0%;
	margin-right: 32px; 
}
#doneImg{
	height: 128px;
	width: auto;
}