body{
	background-color: #87CEFA;
	font-family: "Bookman";
}
.content{
	background-color: white;
	-moz-border-radius: 8px 8px 8px 8px;
	-webkit-border-radius: 8px 8px 8px 8px;
	padding: 10px 10px 10px 10px;
	box-shadow:2px 2px 5px #000000;
	-moz-box-shadow:2px 2px 5px #000000;
	-webkit-box-shadow:2px 2px 5px #000000;
	position: absolute;
	left:25%;
	min-height: 50%;
	width:50%;
}
#listaDiv{
	position: absolute;
	top:0%;
	
}

#upload{
	text-align: left;
}
#erro{
	color: red;
	font-size: 20px;
	text-align: right;
}

table{
	border:1px solid #000000;
	-moz-box-shadow:2px 2px 5px #000000;
	-webkit-box-shadow:2px 2px 5px #000000;
}
#cor1{
	background-color: gray;
}
#cor0{
	background-color: white;
}
#plus{
	height: 32px;
	width: 32px;
}
footer{
	text-align: center;
	background-color: black;
	color: white;
	position: absolute;
	bottom: 0%;
	left: 0%;
	width: 98%;
	padding: 10px 10px 10px 10px ;
}
#aviso{
	color: red;
	font-size: 10px;
}
.listOntologias{
	border:1px solid #000000;
	-moz-box-shadow:2px 2px 5px #000000;
	-webkit-box-shadow:2px 2px 5px #000000;
	margin-top: 5px;
	padding: 2px 2px 2px 2px;
}
.Rleft{
	float: left;
}
.Rcenter{
	float:  center;
}
.Rright{
	float:  right;
}
.side{
	position: fixed;
	top:0%;
	height: 100%;
	width: 20%;

	background-color: white;
	-moz-border-radius: 8px 8px 8px 8px;
	-webkit-border-radius: 8px 8px 8px 8px;
	padding: 10px 10px 10px 10px;
	box-shadow:2px 2px 5px #000000;
	-moz-box-shadow:2px 2px 5px #000000;
	-webkit-box-shadow:2px 2px 5px #000000;
}
#indice{
	left: 0%;
}
#info{
	right: 0%;
}
#info div{
	height: 50%;
	width:10%;
}