<!DOCTYPE html>
<html lang = "pt-br">
	<head>
		<meta charset = "UTF-8">
		<link rel = "stylesheet" href = "{{url_for('static',filename='css/style.css')}}">
		<title>index</title>
	</head>
	<body>
		<div class = "content">
			<center><h3>Selecione seu arquivo</h3></center>
			<div id="divNovaOnto">Nova ontologia: <a href="{{url_for('new')}}"><img id="plus" src="{{url_for('static',filename='img/plus.png')}}"></a></div>
			{% if ontologies|length > 0 %}
				{% for ontologia in ontologies %}
					<div id="{{ontologia['id']}}" class="listOntologias">
						<center>
							{{ontologia.name}}<br/>
							{{ontologia.description}}<br/>
							<span class="Rleft">Quantidades de classes:{{ontologia.qtd_classes}}</span><span class="Rcenter">Quantidades de propriedades:{{ontologia.qtd_properties}}</span><span class="Rright">Quantidades de avaliações:{{ontologia.qtd_evaluations}}</span><br>
							<span>Link para avaliação:</span><a href="{{url_for('eval_user',ontology_id=ontologia.id)}}">{{url_for('eval_user',ontology_id=ontologia.id,_external=True)}}</a>
						</center>

					</div>
				{%endfor%}
			{% else %}
				Nenuma ontologia cadastrada
			{% endif %}
		</div>
	</body>

	<footer>
		<div>Icons made by <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a> from <a href="https://www.flaticon.com/" 		    title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" 		    title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
	</footer>
</html>