<!DOCTYPE html>
<html lang = "pt-br">
	<head>
		<meta charset = "UTF-8">
		<link rel = "stylesheet" href = "{{url_for('static',filename='css/style.css')}}">
		<title>index</title>
	</head>
	<body>
		<div class = "content">
			<center><h3>Selecione seu arquivo</h3></center>
			<div id="divNovaOnto">Nova ontologia: <a href="{{url_for('new')}}"><img id="plus" src="{{url_for('static',filename='img/plus.png')}}"></a></div>
			{% if ontologies|length > 0 %}
				<table id="listaOnt">
					<tr>
						<th>Nome</th>
						<th>Descrição</th>
						<th>Classes</th>
						<th>Propriedades</th>
						<th>Avaliações</th>
					</tr>
					{%set count = {'c':0}%}
					{% for ontologia in ontologies %}
						{%set id = "cor"+ (count.c%2)|string%}
						<tr id="{{id}}">
							
							<td id="col1">{{ontologia.name}}</td>
							<td id="col2">{{ontologia.description}}</td>
							<td id="col3"> {{ontologia.qtd_classes}}</td>
							<td id="col4">{{ontologia.qtd_properties}}</td>
							<td id="col5">{{ontologia.qtd_evaluations}}</td>
							<tr id="{{id}}">
								<td>Link para avaliação</td>
								<td colspan="4"><a href="{{url_for('eval_user',ontology_id=ontologia.id)}}">{{url_for('eval_user',ontology_id=ontologia.id,_external=True)}}</a></td>
							</tr>
						</tr>
						{%if count.update({'c':(count.c +1)})%}{%endif%}
					{%endfor%}
				</table>
			{% else %}
				Nenuma ontologia cadastrada
			{% endif %}
		</div>
	</body>

	<footer>
		<div>Icons made by <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a> from <a href="https://www.flaticon.com/" 		    title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" 		    title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
	</footer>
</html>